<div id='officeModal' class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style='background-color: #345DA6;min-height: 45px;'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style='color: white;opacity: inherit;'>
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <h3 id='partTitle' class="modal-title">Office</h3> -->
      </div>
      <div id="officeDetails"></div>
    </div>
  </div>
</div>
