<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Contabilitate</h3>
  </div>
  <div class="panel-body phones">
    <table class="table">
      <tbody>
        <% Contact.where(department_id: 4).order('contact_type asc').each do |c| %>
        <tr>
          <td><%= t(Contact::CONTACT_TYPE.invert[c.contact_type]) %></td>
          <td><%= c.details %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
