<% if @page.present? && @page.gallery.present? %>
<aside class="widget ads clearfix">
  <h4>Gallery</h4>
  <%= render 'shared/gallery', gallery: @page.gallery %>
</aside>
<% end %>

<%# if @pages.present? %>
  <%# @pages.each do |p| %>
  <!-- <li class="<%#= 'active' if "#{p.link_name}" == @page.link_name %>"><%#= link_to p.title, transport_path(p.link_name), title: p.title %></li> -->
  <%# end %>
<%# end %>
