<div class="panel panel-primary">
  <%= image_tag 'tow.gif',class: 'img-responsive' %>
  <div class="col-md-12 caption">
    <h4><center>Truck and Trailer Rescue Service</center></h4>
      <P>Trans Ager S.R.L.dispune de 2 camioane de tractare care funcţionează 24/24 atît pe teritoriul cît şi în afara Republicii Moldova.
      Prin autospecialele sale Trans Ager oferă servicii de recuperare şi tractare/remorcare pentru vehiculele grele.</P>
      <p><%= link_to t('details'), services_path %></p>
      <center>
        <strong> +(373) 224 75 379 </strong><br>
        <strong> +(373) 794 00 416 </strong>
      </center>
  </div>
  <div class="clearfix"></div>
  <br>
</div>
