<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Departamentul Reparații</h3>
  </div>
  <div class="panel-body phones">
    <ul>
      <li>+ 373 22 474 282</li>
      <li>+ 373 22 472 147</li>
    </ul>
  </div>
</div>