<div class="thumbnail">
  <%= image_tag 'tow.gif' %>
  <div class="caption">
    <h3><center>Truck and Trailer Rescue Service</center></h3>
      <P>Trans Ager S.R.L.dispune de 2 camioane de tractare care funcţionează 24/24 atît pe teritoriul cît şi în afara Republicii Moldova.
      Prin autospecialele sale Trans Ager oferă servicii de recuperare şi tractare/remorcare pentru vehiculele grele.</P>
      <p><a href="#"s>Detalii</a></p>
      <center>
        <strong> +(373) 224 75 379 </strong><br>
        <strong> +(373) 794 00 416 </strong>
      </center>
  </div>
</div>
