<div class="col-md-12">
  <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag 'slider_office.jpg', alt: 'trnasager-container-transport', class: 'img-responsive' %>
<!--         <div class="carousel-caption">
          <div class="slider_caption">Shipping and Air Trasnport</div>
          <div class="hidden-xs"><center>We make sure your cargo is delivered where you need it</center></div>
        </div> -->
      </div>
      <div class="item">
        <%= image_tag 'container.jpg', alt: 'trnasager-container-transport', class: 'img-responsive' %>
<!--         <div class="carousel-caption">
          <div class="slider_caption">Shipping and Air Trasnport</div>
          <div class="hidden-xs"><center>We make sure your cargo is delivered where you need it</center></div>
        </div> -->
      </div>
      <div class="item">
        <%= image_tag 'curtain.jpg', alt: 'trnasager-container-transport', class: 'img-responsive' %>
<!--         <div class="carousel-caption">
          <div class="slider_caption">Road Transportation</div>
          <div class="hidden-xs"><center>Refrigerated, Vans and Tarpaulin Trailer Units.</center></div>
        </div> -->
      </div>
      <div class="item">
        <%= image_tag 'shop.jpg', alt: 'trnasager-container-transport', class: 'img-responsive' %>
<!--         <div class="carousel-caption">
          <div class="slider_caption">Truck Service and Parts Shop</div>
          <div class="hidden-xs"><center>We have eveything you need for your truck, from parts to specialists.</center></div>
        </div> -->
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="clearfix"></div>
<hr>
