<section id="slider_wrapper" class="slider_wrapper full_page_photo">
  <div id="main_flexslider" class="flexslider">
    <ul class="slides">
      <li class="item" style="background-image: url('<%= asset_url('1.jpg') %>')">
        <div class="container">
          <div class="carousel-caption">
            <h1>Partenerul tău de încredere, oriunde şi oricînd în Europa</h1>
            <p class="lead skincolored">
              <strong>Trans Ager</strong> este una din primele companii de transport din Republica Moldova,
              având experiență de peste <strong>12 ani</strong> în <strong>transport local</strong> și <strong>internațional</strong> de mărfuri.
            </p>
          </div>
        </div>
      </li>
      <li class="item" style="background-image:url('<%= asset_url('2.jpg') %>')">
        <div class="container">
          <div class="carousel-caption">
            <h1>Magazin piese și accesorii...</h1>
            <p class="lead skincolored">
              Piese și accesorii pentru camioane de diferite branduri de la diferiți producători.
            </p>
          </div>
        </div>
      </li>
      <li class="item" style="background-image:url('<%= asset_url('3.jpg') %>')">
        <div class="container">
          <div class="carousel-caption">
            <h1>Servicii reparații a autovehiculelor de mare tonaj</h1>
            <p class="lead skincolored">
              Reparația unităților frigorifice, motoarelor, caroseriei, diagnosticare și multe alte servicii la o înaltă calitate.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

