<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
function initialize() {
  var myLatlng = new google.maps.LatLng(46.9939143, 28.9090122);
  var mapOptions = {
    zoom: 14,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: 'Hello World!'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map_canvas"></div>
<hr>
<div class="col-md-12 contact_form">
  <div class="col-md-6">
    <h3>Address:</h3>
    <address>
      <strong>Transager srl</strong><br>
      Uzinelor 171A<br>
      Chișinău<br>
      Moldova, Republic of<br>
      MD2000<br>
      <abbr title="Phone">Phone:</abbr> 01234 567 890
    </address>
  </div>
  <div class="col-md-6">
    <h3>Send us a message:</h3>
    <form role="form">
      <div class="form-group">
        <label for="select">Send message to:</label>
        <select class="form-control" id="select">
          <option>Transportation department</option>
          <option>Service</option>
          <option>Parts Shop</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" rows="3" id="message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Send message</button>
    </form>
  </div>
</div>

