<div class="col-md-12">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if action_name == 'tires' %>"><a href="#">Tires</a></li>
      <li class="<%= 'active' if action_name == 'batteries' %>"><a href="#">Batteries</a></li>
      <li><a href="#">Electric parts</a></li>
    </ul>
  </div>
  <div class="col-md-10"></div>
</div>
