<div class="col-md-12">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if action_name == 'tires' %>"><a href="#">Internațional</a></li>
      <li class="<%= 'active' if action_name == 'batteries' %>"><a href="#">Local</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <p>
Transport intern de marfuri intern

“Trans Ager”:”Partenerul tău de încredere, oriunde şi oricînd în Europa”

“Trans Ager’’SRL este o întreprindere polivalentă şi viabilă cu capital privat integral care are ca obiecte de activitate transporturi rutiere internaţionale şi interne, service camioane şi magazin piese-auto camioane.

Pornind activitatea sa în 1995 ca o întreprindere modestă astăzi dispune de o cuprinzătoare flotă de camioane, semiremorci de mărci europene, un garaj de proporţii şi o zonă de reparaţie proprie, fiind una dintre cele mai mari întreprinderi de transport din Republica Moldova şi prima la capitolul transport propriu, oferind locuri de muncă la mai bine de 100 de angajaţi.

Compania noastră se află într-un proces continuu de dezvoltare şi îmbunătăţire a serviciilor oferite clienţilor în condiţii de operativitate, eficienţă, şi siguranţă maximă.Toate aceste standarde occidentale sunt atinse beneficiind de un personal înalt calificat şi bine organizat pe departamente în scopul gestionării cît mai eficiente a activităţii ,precum şi de un parc auto modern.

Trans Ager este membru activ şi cofondator al Asociaţiei Internaţionale a Transportatorilor din Moldova /AITA/ şi deţinător al titlului” cel mai bun transportator al anului 2007” din Republica Moldova.

Transport de mărfuri intern

·      Bascule cu remorci, semi-remorci  30 tone.

·      Autobetoniere capacitate 7 m cubi.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <div class="col-md-4">
    <%= render 'shared/contacts_repair_department' %>
    <%= render 'shared/sidebar' %>
  </div>
</div>
