/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 *= require fancybox
 *= require styles
 *= require font-awesome
 *= require flexslider
 *= require animate
 *= require loading
 */

 @import "bootstrap";
 @import "font-awesome";

.skype_button{
  margin-top: -10px;
  margin-left: -31px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li.ui-menu-item {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 5px 10px;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
td.price{
  vertical-align: middle !important;
}
th.price{
  width: 65px;
}
td.part_details{
  .list-group-item{
    padding: 1px;
  }
}
table.listing{
  thead{
    background-color: #345DA6;
    color: #fff;
    th{text-align: center;}
  }
  font-size: 12px;
}
center.need_parts {
  width: 200px;
  margin: auto;
  background: rgb(0, 40, 113);
  color: #fff;
  padding: 20px 0;
  a{color: #fff;}
}
.top_bar{
  a{color: #DFDFDF;}
  a:hover{color: #fff;}
}
#partsModal{
  table.table{
    margin-bottom: 0;
  }
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #428bca;
    min-height: 16.42857143px;
    background: #428bca;
    color: #fff;
  }
}
