<%= image_tag 'evacuator-left.gif', class: 'img', width: '100%' %>
<ul class='phone_list'>
  <!-- <li><i class="fa fa-mobile"></i><a href="tel:+37369137838">+373 691 37838</a></li> -->
  <li><i class="fa fa-mobile"></i><a href="tel:+37379408806">+373 794 08806</a></li>
</ul>
<br><br>
