<div class="row">
  <div id='main_search' class="col-md-4 col-md-offset-4">
    <%= form_tag parts_path, class: 'form search_form', role: 'form', method: :get do %>
    <div class="col-md-9">
      <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: t(:search_placeholder), data: {autocomplete_source: search_parts_path}, autofocus: true %>
    </div>
    <div class="col-md-3">
      <%= submit_tag t(:search), name: nil, class: 'search_button btn btn-primary', disabled: @query.present? ? (@query.length >= 3 ? false : true) : true, data: { disable_with: t('searching') } %>
    </div>
    <% end %>
  </div>
</div>
