<!-- <div class="hidden-xs">
  <h1 class="logo">TRANS AGER <br><small><%#= t('logo') %></small></h1>
  <%= image_tag 'logo.png' %>
</div>
<h1 class="visible-xs">TRANS AGER <br><small><%#= t('logo') %></small></h1> -->

<div class="logo">
  <div class="title">
    <span class="capital">T</span>RANS
    <span class="capital">A</span>GER
  </div>
  <div class="quote"><%= t('logo') %></div></h1>
</div>
